  <header>
    <div class="container">
      <nav>
        <a href="/"><strong>Tony Angiola</strong></a>
        <a href="/books.html">Books</a>
        <a href="/bio.html">Bio</a>
        <a href="/newsletter.html">Newsletter</a>
        <a href="/contact.html">Contact</a>
      </nav>
    </div>
  </header>
